In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()
import os

In [17]:
df=pd.read_csv("/home/manpreet/codes/medical/pnumonia/data/metadata.csv").drop(["Unnamed: 0","Dataset_type","Label_2_Virus_category","Label_1_Virus_category"],1)
df.head()

    X_ray_image_name   Label
0  IM-0128-0001.jpeg  Normal
1  IM-0127-0001.jpeg  Normal
2  IM-0125-0001.jpeg  Normal
3  IM-0122-0001.jpeg  Normal
4  IM-0119-0001.jpeg  Normal

In [18]:
df2=df.sample(frac=1)
df2.head()

                  X_ray_image_name     Label
2030     person12_bacteria_46.jpeg  Pnemonia
4534  person683_bacteria_2578.jpeg  Pnemonia
1524    person1082_virus_1794.jpeg  Pnemonia
3580      person339_virus_695.jpeg  Pnemonia
4827     person833_virus_1469.jpeg  Pnemonia

In [19]:
len(df)==len(df2)

True

In [20]:
len(df)

5910

In [21]:
len(df)*0.2

1182.0

In [22]:
df2.loc[int(len(df)*0.2):,:]

                   X_ray_image_name     Label
1182      NORMAL2-IM-1209-0001.jpeg    Normal
2270  person1358_bacteria_3465.jpeg  Pnemonia
4521   person690_bacteria_2587.jpeg  Pnemonia
2252     person1367_virus_2351.jpeg  Pnemonia
1169      NORMAL2-IM-1150-0001.jpeg    Normal
...                             ...       ...
4974      person745_virus_1368.jpeg  Pnemonia
669       NORMAL2-IM-0456-0001.jpeg    Normal
5351              IM-0065-0001.jpeg    Normal
1727     person1226_virus_2077.jpeg  Pnemonia
3655   person454_bacteria_1945.jpeg  Pnemonia

[3430 rows x 2 columns]

In [23]:
import tensorflow as tf

In [29]:
model=tf.keras.applications.densenet.DenseNet121(include_top=False)

Downloading data from https://github.com/keras-team/keras-applications/releases/download/densenet/densenet121_weights_tf_dim_ordering_tf_kernels_notop.h5
29089792/29084464 [==============================] - 40s 1us/step

In [30]:
model.output

In [32]:
df.head()

    X_ray_image_name   Label
0  IM-0128-0001.jpeg  Normal
1  IM-0127-0001.jpeg  Normal
2  IM-0125-0001.jpeg  Normal
3  IM-0122-0001.jpeg  Normal
4  IM-0119-0001.jpeg  Normal

In [39]:
df.Label=df.Label.astype('category').cat.codes

In [40]:
df.head()

    X_ray_image_name  Label
0  IM-0128-0001.jpeg      0
1  IM-0127-0001.jpeg      0
2  IM-0125-0001.jpeg      0
3  IM-0122-0001.jpeg      0
4  IM-0119-0001.jpeg      0

In [43]:
df.Label.value_counts()

1    4334
0    1576
Name: Label, dtype: int64

ModuleNotFoundError: No module named 'keras'